@model AscentrikProjectWorkflow.ViewModel.ChangePasswordViewModel


@using (Ajax.BeginForm("ChangePassword", "User", new AjaxOptions
{
    HttpMethod = "POST",
    OnBegin = "onCreateBegin",
    OnSuccess = "onCreateSuccess",
    OnFailure = "onCreateFailure"
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title bootstrap-dialog-title" id="listModalLabel">Edit User</h3>
        </div>
        <div class="modal-body">
            <p class="errorPanel">
            </p>
            <p class="successPanel">
            </p>

            <fieldset>
                <legend>ClientViewModel</legend>
                @Html.HiddenFor(model => model.UserId)
                @Html.HiddenFor(model => model.EmailAddress)
                <div class="editor-label">
                    @Html.LabelFor(model => model.OldPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.OldPassword)
                    @Html.ValidationMessageFor(model => model.OldPassword)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.NewPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.NewPassword)
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.ConfirmPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
        
}